<% content_for :title, "Seite erstellen".html_safe %>

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <h1>Seite erstellen</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <%= render 'form', page: @page %>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <%= link_to 'abbrechen', root_path %>
    <br>
    <br>
  </div>
</div>
